 .cartes article img {
     width: 200px;
 }
 
 main {
     width: 100%;
 }
 
 * {
     box-sizing: border-box;
     padding: 0;
 }
 
 body {
     font-family: 'Shrikhand', cursive;
     
 }
 
 //  font-family: 'Roboto', sans-serif;
 .logo {
     position: relative;
     transform: translateX(-50%);
     left: 50%;
     height: 1.5rem;
 }
 
 .photo {
     //height: 150px;
     width: 100%;
 }

 .resto {
     background-color: lightgrey;
     a{
         text-decoration: none;
         color: black;
     }
     article{
         border-radius: 20%;
     }
 }
 

 .fond{
     background-color: white;
     display: flex;
     justify-content: space-between;
     //padding: 1rem;
 }

 button {
     border-radius: 50px;
     background: rgb(147, 86, 220);
     background: linear-gradient(90deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
     color: white;
     padding: 1em;
 }
 
 footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: black;
     color: white;
     img {
         width: 10rem;
     }
 }
 
 @media(max-width:800px) {
     .tete {
         text-align: center;
         background-color: lightgrey;
     }
     .debut {
         text-align: center;
     }
     .etapes ul {
         display: flex;
         flex-direction: column;
         list-style: none;
         li {
             margin: 1em;
             background-color: lightgrey;
             border-radius: 10px;
             padding: 1em;
         }
     }
     article {
         margin: 1em;
         img {
             width: 100%;
         }
     }
     .resto {
         background-color: lightgrey;
     }
     .gras {
         font-weight: bold;
     }
 }